// conf/sge.config
process {
    executor = 'sge'
    queue    = params.default_queue ?: ''
    penv     = 'smp'

    beforeScript = 'mkdir -p $HOME/Scratch/.singularity/tmp && export SINGULARITY_TMPDIR=$HOME/Scratch/.singularity/tmp'

    withLabel:process_single { clusterOptions = '-l tmpfs=10G' }
    withLabel:process_low    { clusterOptions = '-l tmpfs=10G' }
    withLabel:process_medium { clusterOptions = '-l tmpfs=20G' }
    withLabel:process_high   { clusterOptions = '-l tmpfs=50G' }

    withName:STAR_GENOME_GENERATE {
        clusterOptions = '-l tmpfs=50G'
    }
}

params.default_queue = ''
